block vars
footer.footer(class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid)
  div
    span.register &copy; 2014 Ingenia Group
    .location(class="uk-grid-small uk-child-width-expand uk-text-center" uk-grid)
      .location-container
        span.location-container-name 
          i.location-container-name-image.location-container-name-image__usa
          | USA
        span.location-container-address 1200 18th street, NW
        span.location-container-address Suite 700 
        span.location-container-address Washington D.C. 20036 USA
        a(href="#").location-container-phone 50 22 09 00
      .location-container
        span.location-container-name 
          i.location-container-name-image.location-container-name-image__mexico
          | Mexico
        span.location-container-address Antole France 311
        span.location-container-address Polanco, Miguel Hidalgo
        span.location-container-address 11560 México D.F.
        a(href="#").location-container-phone 50 22 09 00
  div.links
    ul.links-inpage
      li
        a(href="#") About us
      li
        a(href="#") Our work
      li
        a(href="#") Blog
      li
        a(href="#") Jobs
      li
        a(href="#") Contact
    ul.links-policy
      li
        a(href="#") Terms of use 
      li
        a(href="#") Privacy Policy
    ul.links-social
      li.noborder
        a.links-social-anchor.links-social-anchor__twitter(href="#")
      li.noborder
        a.links-social-anchor.links-social-anchor__facebook(href="#")
      li.noborder
        a.links-social-anchor.links-social-anchor__youtube(href="#")
      li.noborder
        a.links-social-anchor.links-social-anchor__linkedin(href="#")
