extends layout

block vars
  - var title = "Contacto"
  - var relativePath = ""
  - var language = "index"
  - var menu = "esp"
  
block content
  .contact
    .locations(uk-grid class="uk-grid-collapse uk-child-width-expand@s uk-text-center")
      .locations-container.locations-container__mexico
        h3.locations-title Mexico City
        .locations-box
          span.locations-box-street Antole France 311
          span.locations-box-address Polanco, Miguel Hidalgo
          span.locations-box-address2 11560 México D.F.
          a(href="#").locations-box-phone 50 22 09 00
      .locations-container.locations-container__usa
        h3.locations-title Washington D.C
        .locations-box
          span.locations-box-street 1200 18th street, NW
          span.locations-box-address Suite 700 
          span.locations-box-address2 Washington D.C. 20036 USA
          a(href="#").locations-box-phone 50 22 09 00
    .banner
      p Ingenia is located in two major business & goverment hubs in the Americas
      h4 Contact Us
      p Send us an e-mail and we will get back to you
    .success
      span.success-span Thanks, we'll get back at you as soon as possible.
    .fatal-error
      span.fatal-error-span There was an error please try again later :(
    .container
      form#contactForm.form(action="")
        .form-name
          .error-message(uk-grid class="uk-grid-collapse uk-child-width-expand")
            div
              span.error-message-span#nameError * Invalid name
            div
              span.error-message-span#surnameError * Invalid surname
          img(src=require("./img/bg/bullet_1.png"), alt="")
          input#nameInput(type="text" name="name" placeholder="Name")
          input#surnameInput(type="text" name="surname" placeholder="Last Name")
        .form-contact
          .error-message(uk-grid class="uk-grid-collapse uk-child-width-expand")
            div
              span.error-message-span#emailError * Invalid email
            div
              span.error-message-span#phoneError * Invalid phone number
          img(src=require("./img/bg/bullet_2.png"), alt="")
          input#emailInput(type="text" name="email" placeholder="E-mail")
          input#phoneInput(type="text" name="phone" placeholder="Phone")
          .mt-3
            img(src=require("./img/bg/bullet_3.png"), alt="")
            label.form-message-label(for="message") Tell us about your challenge or opportunity
        .form-message
          .error-message
            span.mt-0.error-message-span#messageError * Please write a message 
          textarea#messageInput(name="comment", cols="30", rows="10")
        .recaptcha
          div(class="g-recaptcha" data-sitekey="6Lcrv9AZAAAAAAAhYNCW3hidYT-deVXXxU1lLDqp")
        .form-button
          button#submitButton(type="button") Send
    .places
      p.selector 
        strong Coming to visit us? 
        | Here are some of our favorite places around town to 
        select#placesSelector(name="places")
          option(value="read") A quiet place to read book
      .places-container(uk-grid class="uk-grid-collapse uk-child-width-expand@s")
        .places-container-country.places-container-country__mexico
          p.places-container-country-title Mexico city:
          .card
            .card-name
              span.card-name-span.card-name-span__mexico 
                | Name of the place 
                i.card-name-icon
            span.card-address 123 Main St
            p.card-desc amazing burguers, imprompteau jazz trios
          .card
            .card-name
              span.card-name-span.card-name-span__mexico 
                | Name of the place 
                i.card-name-icon
            span.card-address 123 Main St
            p.card-desc amazing burguers, imprompteau jazz trios
        .places-container-country.places-container-country__usa
          p.places-container-country-title Washington D.C. :
          .card
            .card-name
              span.card-name-span
                i.card-name-icon
                | Name of the place 
            span.card-address 123 Main St
            p.card-desc amazing burguers, imprompteau jazz trios
          .card
            .card-name
              span.card-name-span
                i.card-name-icon
                | Name of the place 
            span.card-address 123 Main St
            p.card-desc amazing burguers, imprompteau jazz trios

