extends layout

block vars
  - var title = "Contacto"
  - var relativePath = ""
  - var language = "index"
  - var menu = "esp"
  
block content
  .index1(id="index1")
    h3.ms9 Welcome you can start coding now! ⚡️