block vars
.fixed.fixed__top(class="uk-navbar-container tm-navbar-container")
  div.uk-container.uk-container-expand
    nav.uk-navbar
      .uk-navbar-left
        a(href="#").uk-navbar-item.uk-logo
          img(src=require("./img/logo_ingenia.png"), alt="")
      .uk-navbar-right
        ul(class="uk-navbar-nav uk-visible@m")
          li
            a.links(href="#") about us
          li
            a.links(href="#") our work
          li.uk-active
            a.links(href="#") Contact
          li
            a.links(href="#") manifesto
        a(uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-icon uk-navbar-toggle-icon")
#offcanvas(uk-offcanvas="mode: push; overlay: true" class="uk-offcanvas uk-offcanvas-overlay uk-open")
  .mobile-menu(class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-push")
    .uk-panel
      ul(class="uk-nav uk-nav-default tm-nav")
        li
          a(href="#") About us
        li
          a(href="#") Our Work
        li
          a.active(href="#") Contact
        li
          a(href="#") Manifesto