block vars
.fixed.fixed__top(class="uk-navbar-container tm-navbar-container")
  div.uk-container.uk-container-expand
    nav.uk-navbar
      .uk-navbar-left
        a(href="#").uk-navbar-item.uk-logo
          img(src=require("./img/logo_ingenia.png"), alt="")
      .uk-navbar-right
        ul(class="uk-navbar-nav uk-visible@m")
          li
            a.links(href="#") about us
          li
            a.links(href="#") our work
          li.uk-active
            a.links(href="#") Contact
          li
            a.links(href="#") manifesto