.graf-bars {
  transform: translate(-100%);
  will-change: transform;
  transition: all 0.8s;

  &.show {
    transform: translate(0);
  }
}

.graf-circles {
  opacity: 0;
  transform-origin: 50% 50%;

  &.show {
    animation: rotateGraf 0.8s forwards;
  }
}

@keyframes rotateGraf {
  0% {
    opacity: 0;
    transform: rotate(359deg);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translate();
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}