.uk-navbar-container:not(.uk-navbar-transparent) {
  background: rgba(white, 0.7);
}

.uk-navbar-nav>li>a {
  color: rgba(black, 0.8);
}

nav {
  .links {
    font-family: $robotocondensed-font !important;
    font-weight: $regular;
  }

  .uk-navbar-nav>li.uk-active>a {
    color: $orange;
  }
}

.mobile-menu {
  background-color: rgb(250, 250, 250);

  a {
    color: rgba(gray, 0.8) !important;
    font-size: 2em;
    font-weight: $bold;

    &.active {
      color: $orange !important;
    }
  }
}